/* Custom Styles */
/* General */
.section {
    padding: 5rem 0;
}

.card .card-header {
    background-color: #ffffff;
}

.custom-main-card {
    transition: box-shadow 0.3s ease-in-out;
    border-top: 3px solid #3c6e71;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2);
}

.job-card {
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 2rem;
    transition: box-shadow 0.2s ease-in-out;
    border-left: 5px solid #a4e5e0;
}

.job-card:hover {
    border-left-color: #37beb0;
}


/* --- Header --- */

#secondaryNavbar .nav-link {
    color: #f6f7fa;
    padding: 0 1rem 0.2rem;
}

#secondaryNavbar .nav-link:hover {
    color: #d9d9d9;
}

#mainNavbar .navbar-nav .nav-link {
    color: inherit;
    font-weight: 600;
}

#mainNavbar .navbar-nav .nav-link:hover,
#mainNavbar .navbar-nav .nav-link:focus {
    color: #247575;
}

#mainNavbar .navbar-nav .active > .nav-link {
    color: #247575;
}

#secondaryNavbar .dropdown .dropdown-menu {
    top: 40px;
}

@media (min-width: 1200px) {
    #mainNavbar .nav-link {
        padding: 1.2rem 1rem;
    }
    
    #mainNavbar .dropdown .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease;
        margin: -0.125rem 0 0;
        top: 80px;
    }

    #mainNavbar .dropdown:hover > .dropdown-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(-10px);
    }
}

#mainNavbar .dropdown-menu::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 22px;
    bottom: auto;
    border: 10px solid transparent;
    border-top: 0;
    border-bottom-color: rgba(0, 0, 0, 0.15);
}

#mainNavbar .dropdown-menu::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: -9px;
    left: 23px;
    bottom: auto;
    border: 9px solid transparent;
    border-top: 0;
    border-bottom-color: #fff;
}

#secondaryNavbar .dropdown-menu::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -10px;
    right: 22px;
    bottom: auto;
    border: 10px solid transparent;
    border-top: 0;
    border-bottom-color: rgba(0, 0, 0, 0.15);
}

#secondaryNavbar .dropdown-menu::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: -9px;
    right: 23px;
    bottom: auto;
    border: 9px solid transparent;
    border-top: 0;
    border-bottom-color: #fff;
}

/* --- banner --- */

.carousel-item {
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .carousel-item {
        height: 60vh;
    }
}

.carousel-item-overlay {
    background-color: rgba(30, 49, 66, 0.75);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: calc(.25rem - 1px);
}

.carousel-item .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

/* --- Footer --- */

#site-footer {
    padding: 3rem 0 0 0;
    color: #dee2e6;
    font-size: 0.875rem;
}

#site-footer h5 {
    padding-left: 1.5rem;
    color: #f8f9fa;
    border-left: 1px solid #dee2e6;
}

#sub-footer {
    padding-top: 1rem;
    border-top: 2px solid #a4d0db;
}

/* --- box --- */

#box-section .card-body {
    background: #f8f9fa; /*blueish #f8f8fb*/
    text-align: center;
}

#box-section .card-body h5,
#box-section .card-body img {
    margin-bottom: 1.5rem;
}

@media (min-width: 992px) {
    #box-section .card-text {
        font-size: 0.875rem;
    }
}

#box-section .card a {
    padding: 1rem;
    font-weight: 600;
    border-radius: 0;
}

/* --- Bootstrap Overwrite --- */

.dropdown-item:hover, .dropdown-item:focus {
    color: #f8f9fa;
    text-decoration: none;
    background-color: #247575;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #247575;
}

.sticky-top {
    top: 20px;
}

/* --- Forms --- */
.required {
    color: red;
}

.well {
    padding: 1rem 2rem;
    margin: 2rem 0;
    background-color: #f4f9f9;
    border: 1px solid #dfe9ec;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

#questionnaireForm {
    border: 5px solid #e6e6e6;
}

#registerForm {
    background: #f6fafd;
    border: 3px solid #e6e6e6;
}

form label:not(.custom-file-label):not(.custom-control-label) {
    font-weight: 600;
}

.register-header::before,
.register-header::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.125);
}

.modal-login {
    max-width: 25rem;
}

.form-section {
    display: none;
    margin-bottom: 4rem;
}

.form-section.current {
    display: inherit;
}

.form-navigation .btn {
    display: none;
}

/* Register Forms  */

#social-form-control .input-group-text {
    color: #fff;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

#social-form-control .form-control {
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
}


/* --- Company Dashboard --- */

.nav-pills .nav-link {
    color: #fff;
    padding: 0.875rem;
    border-radius: 0;
}

.nav-pills .nav-link:hover, .nav-pills .nav-link:focus {
    background-color: #247575;
    transition: background-color 0.2s linear;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #247575;
}

.tab-content {
    background: #fdfdfd;
    padding: 1.25rem;
    border-top: 5px solid #247575;
    border-bottom: 5px solid #247575;
}

.tab-content h5,
.tab-content h6 {
    color: #323b6b;
}

.desc-box {
    background: #fff;
    border-radius: 0.5rem;
    border: 1px solid #e5e5e5;
    padding: 1rem;
}

.social-links {
    width: 100%;
    float: left;
    background: #fff;
    border-radius: 1.25rem;
    border: 1px solid #e5e5e5;
    color: #757575;
    margin-bottom: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.social-links i {
    width: 39px;
    height: 39px;
    line-height: 39px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    margin-right: 15px;
}

.social-links:hover {
    text-decoration: none;
}

.fb-icon {
    background-color: #3b5998;
}

.tw-icon {
    background-color: #1da1f2;
}

.li-icon {
    background-color: #0077B5;
}

/* --- Company info --- */

.heading-decorated_1::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
    width: 24px;
    height: 3px;
    background: #1087eb;
}

.social-media li a {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background-color: #444;
    transition: background-color 0.3s linear;
}

@media (min-width: 768px) {
    .social-info::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate3d(0, -50%, 0);
        height: 70px;
        border-right: 1px solid $gray-300;
    }
}

.facebook-icon:hover {
    background-color: #3b5998;
}
  
.twitter-icon:hover {
    background-color: #1da1f2;
}

.linkedin-icon:hover {
    background-color: #0077B5;
}

#companyDisplay .list-group-item h5 {
    color: #323b6b;
}

#companyDisplay .list-group-item.active h5 {
    color: #fff;
    text-decoration: underline;
}

#companyDisplay .list-group-item.active .text-muted {
    color: $gray-200 !important;
}

#companyDisplay .list-group-item:hover {
    box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
    top: -5px;
    z-index: 2;
}

/* * * Map * * */

#bodyContent {
    font-weight: 500;
}

#bodyContent span {
    font-size: 1rem;
    color: #7094db;
}
