/* Custom Styles */

.section {
    padding: 7rem 0;
}


/* --- Header --- */

header .nav-bottom {
    background-color: rgba(218,226,234,0.96);
}

.nav-link {
    position: relative;
}

#secondaryNavbar .navbar-nav > .nav-link + .nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    top: 12px;
    width: 1px;
    height: 20px;
    background-color: #a0a6ac;
}


/* --- box --- */

.box {
    width: 100%;
    height: 100%;
}

.box-gray {
    background: #f8f8f8; /*blueish #f8f8fb*/
    padding: 20px 20px 30px;
    height: 80%;
}

.box-gray  h5, .box-gray img{
    margin-bottom: 1.5rem;
}

@media (min-width: 992px) {
    .box-gray p {
        font-size: 0.875rem;
    }
}

.box-bottom {
    padding: 20px 0;
    background: #68A4C4;
    height: 20%;
}

.box-bottom a {
    color: #fff;
    font-weight: 700;
}

.box-bottom a:hover {
    color: #eee;
    text-decoration: none;
}

/* --- Bootstrap Overwrite --- */

body {
    color: #37474f /*#656565;
    background-color: #f9f9f9;*/
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', Arial, sans-serif;
    color: #2d3339;
    font-weight: 600;
}

.form-check-inline {
    margin-right: 1rem;
}

.col-form-label {
    font-weight: 600;
}

.btn-primary {
    outline: 0;
    background: #1C0113;
}

.btn-success {
    background: #11766D;
}


/* --- Forms --- */
.required {
    color: red;
}

.well {
    padding: 20px;
    margin: 30px 10px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

#questionnaireForm {
    position: relative;
    padding: 3.5rem 0;
    border: 5px solid #e6e6e6;
}

#registerForm {
    position: relative;
    background-color: #f0f0f5;
    padding: 3.5rem 0;
    border: 5px solid #e6e6e6;
}

.modal-login {
    max-width: 25rem;
}

.form-section {
    display: none;
    margin-bottom: 4rem;
}

.form-section.current {
    display: inherit;
}

.form-navigation .btn {
    display: none;
}


/* Company Dashboard */

.nav-tabs {
    background: #e0e1e7;
}

.nav-tabs a {
    color: #495057;
}