/*  Header - Navbar  */
#headerNavbar {
    background: #2c3e50;
}

#headerNavbar .navbar-brand img {
    width: 45px;
    height: 45px;
}

@media (max-width: 575.98px) {
    #headerNavbar .navbar-brand img {
        width: 35px;
        height: 35px;
    }

    #headerNavbar .navbar-brand span {
        font-size: 1rem;
    }
 }

#headerNavbar .logout {
    color: #f2f2f2;
    background: #4ECDC4;
    border: 1px solid #64c3c2;
    
}

#headerNavbar .logout:hover, #headerNavbar .logout:focus {
    color: $gray-500;
    background-color: transparent;
    border: 1px solid $gray-500;
}

#sidebarToggler {
    padding-bottom: 10px;
    border: none;
    box-shadow: none;
}

/*  Sidebar - Navbar  */
#sidebar {
    width: 235px;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: #2c3e50;
    transition: 0.5s;
}

#sidebar .nav-item .nav-link {
    padding: 1rem;
    color: #d0dcda;
}

#sidebar .nav-item .nav-link:hover {
    color: #1abc9c;
}

#sidebar .nav-item .dropdown-menu {
    background-color: #2c3e50;
    border: none;
    padding: 0;
    margin: 0;
}

#sidebar .nav-item .dropdown-item {
    color: #d0dcda;
}

#sidebar .nav-item .dropdown-item:hover,
#sidebar .nav-item .dropdown-item:focus {
    color: #1abc9c;
    background: none;
}

@media (max-width: 991.98px) {
    #sidebar {
        width: 100%;
        height: auto;
        position: absolute;
        overflow: hidden;
        z-index: 1001;
    }
}

/* Main Content */

#wrapper {
    position: relative;
}

#main-container {
    background:#e9e9e9;
    margin-left: 235px;
    transition: margin-left 0.5s;
}

#content-wrapper {
    width: 100%;
    min-height: calc(100vh - 112px);
    padding: 1rem;
}

#footer {
    background: #f0f3f5;
    border-top: 1px solid #c8ced3;
    padding: 0rem 1rem;
    text-align: center;
}

.page-header .breadcrumb {
    background: transparent;
}

@media (max-width: 991.98px) {
    #main-container {
        margin-left: 0px !important;
    }

    #content-wrapper {
        min-height: calc(100vh - 142px) !important;
    }

    #footer {
        font-size: 0.875rem;
    }
}


/* General */
.custom-admin-card {
    transition: box-shadow 0.3s ease-in-out;
    border-top: 3px solid #8CDDCD;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2);
}

.table-responsive {
    padding: 0.25rem;
}

.table > tbody > tr > td {
    text-align: center;
    vertical-align: middle;
}

.table .clickable-row {
    cursor: pointer;
}

.custom-table thead th {
    text-align: center;
    border-bottom: 1px solid #e2e5e8;
    background: #f6f6f6;
}

.table .thead-light th {
    border-bottom: 1px solid #313259;
}