/* Header - Navbar */
.header-navbar {
    background: #2c3e50;
    /* Flat able */
}

.mobile-header .navbar-toggler, .mobile-header #sidebarToggler{
    color: #fff;
    border: none;
    box-shadow: none;
}

.mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 991.98px) {
    .mobile-header {
        width: 100%;
    }
}

/* Sidebar - Navbar */
.sidebar {
    background: #2c3e50;
    width: 235px;
    min-height: calc(100vh - 71px);
}

.sidebar .nav-item .nav-link {
    padding: 1rem;
    color: #d0dcda;
}

.sidebar .nav-item .nav-link:hover {
    color: #1abc9c;
}

.sidebar .nav-item .dropdown-menu {
    background-color: #2c3e50;
    border: none;
    padding: 0;
    margin: 0;
}

.sidebar .nav-item .dropdown-item {
    color: #d0dcda;
}

.sidebar .nav-item .dropdown-item:hover,
.sidebar .nav-item .dropdown-item:focus {
    color: #1abc9c;
    background: none;
}

@media (max-width: 991.98px) {
    .sidebar {
        display: none;
    }
}

/* Main Container */

#main-container {
    display: flex;
}

#content-wrapper {
    background: #e9e9e9;
    width: 100%;
    min-height: calc(100vh - 71px);
    padding: 1rem;
}

.page-header .breadcrumb {
    background: transparent;
}

/* General */
.custom-admin-card {
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 2rem;
    transition: box-shadow 0.2s ease-in-out;
    border-top: 3px solid #8CDDCD;
}

.table-responsive {
    padding: 0.25rem;
}

.table > tbody > tr > td {
    text-align: center;
    vertical-align: middle;
}