/* Custom Styles */

.section {
    padding: 7rem 0;
}


/* --- Header --- */

header .nav-bottom {
    background-color: rgba(218,226,234,0.96);
}

.nav-link {
    position: relative;
}

#secondaryNavbar .navbar-nav > .nav-link + .nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    top: 12px;
    width: 1px;
    height: 20px;
    background-color: #a0a6ac;
}


/* --- box --- */

.box {
    width: 100%;
    height: 100%;
}

.box-gray {
    background: #f8f8f8; /*blueish #f8f8fb*/
    padding: 20px 20px 30px;
    height: 80%;
}

.box-gray  h5, .box-gray img{
    margin-bottom: 1.5rem;
}

@media (min-width: 992px) {
    .box-gray p {
        font-size: 0.875rem;
    }
}

.box-bottom {
    padding: 20px 0;
    background: #68A4C4;
    height: 20%;
}

.box-bottom a {
    color: #fff;
    font-weight: 700;
}

.box-bottom a:hover {
    color: #eee;
    text-decoration: none;
}

/* --- Bootstrap Overwrite --- */

body {
    color: #37474f /*#656565;
    background-color: #f9f9f9;*/
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600;
}

.form-check-inline {
    margin-right: 1rem;
}


/* --- Forms --- */
.required {
    color: red;
}

.well {
    padding: 1rem 2rem;
    margin: 2rem 0;
    background-color: #f4f9f9;
    border: 1px solid #dfe9ec;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

#questionnaireForm {
    border: 5px solid #e6e6e6;
}

#registerForm {
    background: #f6fafd;
    border: 3px solid #e6e6e6;
}

form label:not(.custom-file-label):not(.custom-control-label) {
    font-weight: 600;
}

.register-header::before,
.register-header::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.125);
}

.modal-login {
    max-width: 25rem;
}

.form-section {
    display: none;
    margin-bottom: 4rem;
}

.form-section.current {
    display: inherit;
}

.form-navigation .btn {
    display: none;
}


/* --- Company Dashboard --- */

.nav-tabs {
    background: #e0e1e7;
}

.nav-tabs a {
    color: #495057;
}

/* --- Company info --- */

.heading-decorated_1::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
    width: 24px;
    height: 3px;
    background: #1087eb;
}

.social-media li a {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background-color: #444;
    transition: background-color 0.3s linear;
}

.facebook-icon {
    background: #3b5998;
}

.twitter-icon {
    background-color: #1da1f2;
}

.linkedin-icon {
    background-color: #0077B5;
}

.facebook-icon:hover {
    background-color: #3b5998;
}
  
.twitter-icon:hover {
    background-color: #1da1f2;
}

.linkedin-icon:hover {
    background-color: #0077B5;
}
