/* Custom Styles */
/* General */
.section {
    padding: 5rem 0;
}

.card .card-header {
    background-color: #ffffff;
}

.custom-main-card {
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 2rem;
    transition: box-shadow 0.2s ease-in-out;
    border-top: 3px solid #3c6e71;
}

.job-card {
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 2rem;
    transition: box-shadow 0.2s ease-in-out;
    border-left: 5px solid #c4ede5;
}

.job-card:hover {
    border-left-color: #62d0ba;
}


/* --- Header --- */

#secondaryNavbar .nav-link {
    color: #f6f7fa;
    padding: 0 1rem;
}

#secondaryNavbar .nav-link:hover {
    color: #d9d9d9;
}

#mainNavbar .navbar-nav .nav-link {
    color: inherit;
    font-weight: 600;
}

#mainNavbar .navbar-nav .nav-link:hover,
#mainNavbar .navbar-nav .nav-link:focus {
    color: #247575;
}

#mainNavbar .navbar-nav .active > .nav-link {
    color: #247575;
}

/* --- banner --- */

.carousel-item {
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .carousel-item {
        height: 60vh;
    }
}

.carousel-item-overlay {
    background-color: rgba(30, 49, 66, 0.75);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: calc(.25rem - 1px);
}

.carousel-item .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

/* --- Footer --- */

#site-footer {
    padding: 3rem 0 0 0;
    color: #dee2e6;
    font-size: 0.875rem;
}

#site-footer h5 {
    padding-left: 1.5rem;
    color: #f8f9fa;
    border-left: 1px solid #dee2e6;
}

#sub-footer {
    padding-top: 1rem;
    border-top: 2px solid #a4d0db;
}

/* --- box --- */

#box-section .card-body {
    background: #f8f9fa; /*blueish #f8f8fb*/
    text-align: center;
}

#box-section .card-body h5,
#box-section .card-body img {
    margin-bottom: 1.5rem;
}

@media (min-width: 992px) {
    #box-section .card-text {
        font-size: 0.875rem;
    }
}

#box-section .card a {
    padding: 1rem;
    font-weight: 600;
    border-radius: 0;
}

/* --- Bootstrap Overwrite --- */

.dropdown-item:hover, .dropdown-item:focus {
    color: #f8f9fa;
    text-decoration: none;
    background-color: #247575;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #247575;
}


/* --- Forms --- */
.required {
    color: red;
}

.well {
    padding: 1rem 2rem;
    margin: 2rem 0;
    background-color: #f4f9f9;
    border: 1px solid #dfe9ec;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

#questionnaireForm {
    border: 5px solid #e6e6e6;
}

#registerForm {
    background: #f6fafd;
    border: 3px solid #e6e6e6;
}

form label:not(.custom-file-label):not(.custom-control-label) {
    font-weight: 600;
}

.register-header::before,
.register-header::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.125);
}

.modal-login {
    max-width: 25rem;
}

.form-section {
    display: none;
    margin-bottom: 4rem;
}

.form-section.current {
    display: inherit;
}

.form-navigation .btn {
    display: none;
}


/* --- Company Dashboard --- */

.nav-tabs {
    background: #e0e1e7;
}

.nav-tabs a {
    color: #495057;
}

/* --- Company info --- */

.heading-decorated_1::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
    width: 24px;
    height: 3px;
    background: #1087eb;
}

.social-media li a {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background-color: #444;
    transition: background-color 0.3s linear;
}

.facebook-icon {
    background: #3b5998;
}

.twitter-icon {
    background-color: #1da1f2;
}

.linkedin-icon {
    background-color: #0077B5;
}

.facebook-icon:hover {
    background-color: #3b5998;
}
  
.twitter-icon:hover {
    background-color: #1da1f2;
}

.linkedin-icon:hover {
    background-color: #0077B5;
}

/* * * Map * * */

#bodyContent {
    font-weight: 500;
}

#bodyContent span {
    font-size: 1rem;
    color: #7094db;
}
