@import "~bootstrap/scss/functions";

@import "custom-variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// DataTables
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";

// Custom CSS
@import "custom";

// Admin area - Custom CSS
@import "custom-admin";